{% extends 'base.html' %}

{% block content %}
<h1>Registros de Ponto</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data e Hora</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        {% for registro in registros %}
        <tr>
            <td>{{ registro.nome }}</td>
            <td>{{ registro.data_hora }}</td>
            <td>{{ registro.tipo }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
